* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-family: ;
}

header,
main,
footer {
  background-color: lightblue;
  border: 1px solid black;
  margin: 0.5rem;
}

header {
  display: flex;
  align-items: center;
}

main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
}

.card {
  background-color: white;
  box-shadow: 0 0 5px black;
  padding: 2rem;
  height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  font-size: 2.6rem;
  font-weight: 300;
}

.card p {
  margin: 0.3rem 0;
  font-size: 1.4rem;
}

main {
  min-height: 70vh;
}

header,
footer {
  padding: 1.5rem;
  min-height: 12vh;
}
